/*UNTUK TABLET */
@media all and (max-width: 1000px){
    body{
        width: 100%;
    }

    .description H1 {
        font-size: 70px;
    }
    .ekstra1-content{
        margin-left: 25px;
        margin-left: 25px;
    }

    .ekstra1-content img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    a{
        font-size:15px;
        
    }
    
    .menu a{
        padding-left: 5px;
        margin-left: 140px;
    }

    /*tutup dulu
    .photo-member{
        padding-left: 5px;
        float: left;
        margin-right: 10px;
      
      }

      .photo-member img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

      .member-name{
        float:left;
        margin-top: 130px;
        margin-right: inherit;
        padding-right: 10px;
        width: 320px;
      }

      .member-detail{
        background-color:#E6E6E8;
        padding: 5px 15px;
        float: left;
        line-height: 20px;
        border-radius: 10px;
        width: 300px;
        color: #696969;
        border: 2px solid white;
        font-size: 13px;
      }*/

      /*INI EKSTRA 2*/
.container{
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 100px;
    border-top: 3px solid #dee7ec;
    background-image: url('159.jpg');
    background-size: cover;
    
  }
  
  .container h1{

    margin-bottom: 50px;
    margin-top: 20px;
    color: #696969;
  }
  
  .photo-member{
    padding-left: 10px;
    margin-right: 20px;
    text-align: center;
  }
  
  .photo-member img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  
  .member-list{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .member-name{
    text-align: center;
    width: auto;
    margin: 10px 0px;
    padding: 10px 0px;
    color: #696969;
    font-size: 24px;  
  }
  
  .member-detail{
    background-color:#E6E6E8;
    /*padding: 5px 25px;
    line-height: 30px;*/
    border-radius: 10px;
    margin-left: 250PX;
    color: #696969;
    border: 2px solid white;
    font-size: 20px;
    width: 430px;
    
  }
  
  .table{
    font-size: 4px;
    
  }
      
}

/* UNTUK SMARTPHONE*/
@media all and (max-width: 700px){
    body{
        width: max-content;
    }

    .ekstra1-content{
        margin-left: 0px;
    }

    .ekstra1-content img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .container{
        margin: 20px 0px;
    }

    .contents{
        height: auto;
    }
  
  .logo1 {
    height:50%;
    width:70%;
  }
    
  a{
      font-size:13px; 
      
  }
  .description H1{
      margin :0;
  }
 .description{
    margin: 0;
    height : auto;
    padding:5px;
  }

  .menu a{
      padding-left: 0px;
      margin-left: 140px;
  }
}
