html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Myriad Pro";
  font-weight: bold;
  
}

/*MENU*/
.menu{
  background-color: darkslategrey;
  color: white;
  height: 30px;
}

.menu ul{
  display: flex;

}

.menu li{
  flex: auto;
  list-style: none;
  text-align: center;
  margin-top: 5px;
}

/*INI HEADER */

header {
  height: 90px;
  width: 100%;
  background-color: #E6E6E8;
	position: fixed;
	top: 0;
}

.header-left {
  float: left;
}

.logo {
  width: 125px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

.header-central h1{
  color: #696969;
  text-align: center;
  padding-top: 15px;
  letter-spacing: 5px;
  margin: 0;
  height: 25px;
  font-size: 50px;
}

/*INI MAIN */
.main {
  margin-top : 60px;
  padding: 20px;
  text-align : center;
}

.contents {
  width: 100%;
  margin-top: 25px;
  height: 300px;
  display:flex;

}

.contents-left {
  float: left;
  height : 100%;
  width : 50%;
}

.logo1 {
  height : 300px;
}

.contents-right {
  float: left;
  height : 100%;
  text-align : center;
  width: 50%;
}

@keyframes anime {
	0%{background-color:#ffff00;}
	25%{background-color:#ffbf00;}
	50%{background-color:#ff8000;}
	100%{background-color:orange;}
}

.description{
	background-color: orange;
	height : 200px;
	text-align : justify;
	padding: 5px 20px;
	margin: 30px;
	padding-bottom: 25px;
    border: 10px dotted #fff;
	animation-name:anime ;
	animation-duration : 5s;
}

a {
	font-size : 20px;
    	font-family : "Myriad Pro"
		color: white;
}

.description H1 {
	text-align : center;
	font-family : "Myriad Pro";
	color: white;
}
hr {
	margin-top : 30px;
	border: 1px solid #dee7ec;
}
/* Layout untuk Tablet */
@media (max-width: 1000px) {
  a{
	  font-size:15px;
	  
  }
}

/* Layout untuk Smartphone */
@media (max-width:700px) {
	.contents{
		height: auto;
	}
  
  .logo1 {
    height:50%;
	width:70%;
  }
	
  a{
	  font-size:13px; 
	  
  }
  .description H1{
	  margin :0;
  }
 .description{
	margin: 0;
	height : auto;
	padding:5px;
}
}


/*INI EKSTRA 1 */
.ekstra1{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  border-top: 3px solid #dee7ec;
  height: 350px;
}

.ekstra1-wrapper{
  display: flex;
  justify-content: center;
}

.ekstra1-title{
  margin-top: 20px;
	color: #696969;
}

.ekstra1-content{
  margin-top: 40px;
  margin-left: 55px;
	color: #696969;
}

.ekstra1-content img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/*INI EKSTRA 2*/
.container{
  margin: 20px;
  border-top: 3px solid #dee7ec;
}

.container h1{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;  
}

.photo-member{
  padding-left: 10px;
  float: left;
  margin-right: 20px;

}

.photo-member img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.member-list{
  /*margin-left: 150px;*/
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.member-name{
  float:left;
  margin-top: 170px;
  margin-right: inherit;
  padding-right: 10px;
  width: 320px;
}

.member-detail{
  background-color:#E6E6E8;
  padding: 5px 25px;
  float: left;
  line-height: 30px;
  border-radius: 10px;
  width: 380px;
}

.table{
  font-size: 4px;
}

/*INI FOOTER */

.footer{
  height: 120px;
  width: 100%;
  background-color: #E6E6E8;
  line-height: 20px;
  font-family: "Myriad Pro";
  margin-top: 100px;
}

.footer h1{
  color: #696969;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  font-family: "Myriad Pro";
}

.footer h2{
  color: #696969;
  text-align: center;
  font-size: 12px;
  font-family: "Myriad Pro";
}

p{
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
